<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>

        <!-- Bootstrap Core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <nav class="navbar navbar-nav navbar-fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="border: 1px solid black;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="border: 1px solid black;"></span>
                        <span class="icon-bar" style="border: 1px solid black;"></span>
                        <span class="icon-bar" style="border: 1px solid black;"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}" style="margin: 10px 10px;color: white;">To Do List app</a>
                    <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" style="margin: 10px"/>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('user_list') }}">Liste des utilisateurs</a></li>
                            <li><a href="{{ path('user_create') }}">Créer un utilisateur</a></li>
                        {% endif %}

                        {% if app.user %}
                            <li><a href="{{ path('task_list') }}">Liste des Tâches</a></li>
                            <li><a href="{{ path('task_create') }}">Créer une nouvelle tâche</a></li>
                            <li><a href="{{ path('logout') }}" type="submit">Se déconnecter</a></li>
                        {% endif %}
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </li>-->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <br /><br /><br />
                {% if app.user %}
                    <h3 class="text-center">Vous êtes connecté en tant que {{ app.user.username }}</h3>
                {% endif %}
                <br /><br /><br />
                {% if not app.user and 'login' != app.request.attributes.get('_route') %}
                <a href="{{ path('login') }}" class="btn btn-success">Se connecter</a>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% block header_title %}{% endblock %}
                    {% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">{% endblock %}
                    <br /><br /><br />
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success text-center" role="alert">
                            {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger text-center" role="alert">
                            <strong>Oops !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container -->

        <div class="container">

            <br /><br /><br />
            <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="pull-right">Copyright &copy; OpenClassrooms</p>
                    </div>
                </div>
            </footer>

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.popconfirm.js') }}"></script>
        <script>
            $("[data-toggle='confirmation']").popConfirm({
                title: "Suppression", // The title of the confirm
                content: "Etes-vous sûr de vouloir effacer cette tâche ?", // The message of the confirm
                placement: "bottom", // The placement of the confirm (Top, Right, Bottom, Left)
                container: "body", // The html container
                yesBtn: "OUI",
                noBtn: "NON"
            });
        </script>

    </body>
</html>
