{% extends 'base.html.twig' %}
{% block header_img %}{% endblock %}
{% block body %}
    <div class="row text-center">
        <a href="{{ path('task_create') }}" class="btn btn-primary">Créer une tâche</a>
        <div class="btn-group">
            <button type="button" class="btn btn-success">Trier par</button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">    <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('task_list') }}" title="Lien 1">Toutes les tâches</a></li>
                <li><a href="{{ path('task_list_todo') }}" title="Lien 2">Tâches à faire</a></li>
                <li><a href="{{ path('task_list_done') }}" title="Lien 3">Tâches effectuées</a></li>
                <li role="separator" class="divider"</li>
                <li><a href="{{ path('task_list_datedesc') }}" title="Lien 4">Par date (du plus récent au plus ancien)</a></li>
                <li><a href="{{ path('task_list_dateasc') }}" title="Lien 4">Par date (du plus ancien au plus récent)</a></li>
                <li role="separator" class="divider"</li>
                <li><a href="{{ path('task_list_author') }}" title="Lien 4">Par auteur</a></li>
            </ul>
        </div>
        <br /><br /><br />
    </div>

    {% if tasks|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas encore de tâche enregistrée. <a href="{{ path('user_create') }}" class="btn btn-warning pull-right">Créer un utilisateur</a>
            {{ dump(user.roles) }}
        </div>
    {% else %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Titre</th>
                    <th>Voir</th>
                    <th>Suppr</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody>

                {% for task in tasks %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ task.createdAt|date('d-m-Y') }}</td>
                        <td>
                            {% if task.user == null %}
                                <p>Anonyme</p>
                            {% else %}
                                <p>{{ task.user.username }}</p>
                            {% endif %}
                        </td>
                        <td>{{ task.title }}</td>
                        <td>
                            <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#{{ task.id }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{ task.title }}</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ task.content }}
                                    </div>
                                    <div class="modal-footer">
                                        <span class="glyphicon glyphicon-user pull-left">
                                            {% if task.user == null %}
                                                Anonyme
                                            {% else %}
                                                {{ task.user.username }}
                                            {% endif %}
                                        </span>
                                        <a href="{{ path('task_edit', {'id' : task.id}) }}" class="btn btn-info btn-sm">Modifier</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <td>
                            <a href="{{ path('task_delete', {'id' : task.id}) }}" class="btn btn-danger btn-sm" data-toggle='confirmation' id="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('task_toggle', {'id' : task.id}) }}">
                                {% if task.isDone %}<span class="glyphicon glyphicon-ok" style="color: green;font-size:1.5em;"></span>
                                {% else %}<span class="glyphicon glyphicon-remove" style="color: red;font-size:1.5em;"></span>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
